.dashboard-container{
 margin: 20px;
 .search-container {
   display: flex;
  justify-content: center;
  h2 {
    margin-top: 4px;
  }
  input[type=text] {
    height: 35px;
    width: 65%;
    border-radius: 15px;
    padding: 5px;
    margin-left: 4px;
    font-size: 16px;
    outline: none;
  }
  button {
      height: 50px;
  }
 }

 
}

.container {
  display: flex;
  flex-direction: row;
}

.video-container {
  width: 80%;
  margin-top: 10px;
}

.list-conatainer {
  width: 20%;
  margin-top: 10px;
}